<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction Model</title>
</head>
<body>
    <form method="post" action="/crop_prediction">
  <div class="mb-3">
    <label for="Nitrogen" class="form-label">Nitrogen</label>
    <input type="number" class="form-control" id="Nitrogen" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Phosphorus" class="form-label">Phosphorus</label>
    <input type="number" class="form-control" id="Phosphorous" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Potassium" class="form-label">Potassium</label>
    <input type="number" class="form-control" id="Potassium" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Temperature" class="form-label">Temperature</label>
    <input type="number" class="form-control" id="Temperature" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Humidity" class="form-label">Humidity</label>
    <input type="number" class="form-control" id="Humidity" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Rainfall" class="form-label">Rainfall</label>
    <input type="number" class="form-control" id="Rainfall" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="pH" class="form-label">pH</label>
    <input type="number" class="form-control" id="pH" aria-describedby="emailHelp">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>